In [2]:
import pandas as pd
dict_={'a':[11,21,31], 'b':[12,22,31]}
dict_

{'a': [11, 21, 31], 'b': [12, 22, 31]}

In [3]:
df=pd.DataFrame(dict_)
df

    a   b
0  11  12
1  21  22
2  31  31

In [4]:
df.head()

    a   b
0  11  12
1  21  22
2  31  31

In [5]:
df.mean()

a    21.000000
b    21.666667
dtype: float64

In [8]:
def one_dict(list_dict):
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

Requirement already satisfied: nba_api in c:\users\nmahi\anaconda3\lib\site-packages (1.1.9)
Requirement already satisfied: requests in c:\users\nmahi\anaconda3\lib\site-packages (from nba_api) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nmahi\anaconda3\lib\site-packages (from requests->nba_api) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\nmahi\anaconda3\lib\site-packages (from requests->nba_api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\nmahi\anaconda3\lib\site-packages (from requests->nba_api) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\nmahi\anaconda3\lib\site-packages (from requests->nba_api) (2.8)

In [9]:
import pandas as pb
import matplotlib.pyplot as plt

In [19]:
dict_={'a':[11,12,31], 'b':[12,22,32]}

In [20]:
pf=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

In [21]:
df.head()

    a   b
0  11  12
1  21  22
2  31  31

In [22]:
df.mean()

a    21.000000
b    21.666667
dtype: float64